<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lead - {{ lead.first_name }} {{ lead.last_name }}</title>
</head>
<body>
<p><strong>First Name:</strong> {{ lead.first_name }}</p>
<p><strong>Last Name:</strong> {{ lead.last_name }}</p>
<p><strong>Phone:</strong> {{ lead.phone }}</p>
<p><strong>Mobile Phone:</strong> {{ lead.mobile_phone }}</p>
<p><strong>Email:</strong> {{ lead.email }}</p>
<p><strong>Street:</strong> {{ lead.street }}</p>
<p><strong>City/State/Zip:</strong> {{ lead.city }}, {{ lead.state }} {{ lead.postal_code }}</p>




</body>
</html>